.container{
background-color: darkcyan;
font-family: 'IBM Plex Sans', sans-serif;
margin: 20px;
display:flex;
flex-direction:column;
justify-content:space-between;
width:420px;
border: 1px solid lightgray;
box-shadow: 2px 2px 8px 4px #d3d3d3d1;
border-radius:15px;
font-family: sans-serif;
}

.col-12{
    text-align: center;
    
}