@media screen and (max-with:1280px){
 aside{
    width: 29%;
 }
}
@media screen and (max-width: 970px) {
    #main_container{
        width: 100%;
    }

    nav, ul li a {
        padding: 10px
    }
}
    
@media screen and (max-width: 767px){
    
}

@media screen and (max-width: 600px){
    nav, ul li a {
        text-align: center ;
        width: 100%;
    }

    nav li a{
        display: block !important;
    }
}

@media screen and (max-width: 400px){
    
}

