.navbar {
    background-color: white !important;
}

 /* Estilos iniciales para el navbar */
 #customNavbar {
    border-radius: 0; /* Esquinas cuadradas inicialmente */
    box-shadow: none; /* Sin sombra inicialmente */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

/* Estilos para el navbar con esquinas redondas y sombra cuando se desplaza hacia abajo */
#customNavbar.navbar-scrolled {
    border-radius: 10px; /* Ajusta el radio según tus preferencias */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ajusta la sombra según tus preferencias */
}

.card-link {
    color: black;
    text-decoration: none;
}

.card-link:link {
    color: black;
}

.card-link:visited {
    color: black;
}

.card-link:hover {
    color: rgb(99, 99, 99);
}


.card-link:active {
    color: blue;
}

.vertical-center {
    min-height: calc(100vh - 80px - 121px);

    display: flex;
    align-items: center;
}

.color-aqua{
    background-color: #41c1ba;
    border-color: #41c1ba;
}

.color-aqua:hover{
    background-color: #6bc72a;
    border-color: #6bc72a;
}

.color-aqua:active{
    background-color: #518829 !important;
    border-color: #518829 !important;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.page-container{
    min-height: calc(100vh - 80px);
}







        .body {
          font-family: Arial, sans-serif;
        }

        .container {
          padding: 20px;
        }

        .donate-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .donate-text {
          flex: 1;
          padding: 20px;
          border: 2px dashed #ccc;
          border-radius: 10px;
          background-color: #f9f9f9;
        }

        .donate-text p {
          font-size: 16px;
          line-height: 1.6;
        }

        .logo {
          max-width: 30%;
          padding: 20px;
        }

        h1 {
          font-size: 36px;
          text-align: center;
          margin-bottom: 20px;
        }


                /* team */
                body {
                    font-family: Arial, sans-serif;
                }

                .equipo {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                .miembro {
                    text-align: center;
                    margin: 20px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: 200px;
                }

                .miembro img {
                    max-width: 100%;
                    width: 100px; /* Establece el ancho deseado */
                    height: auto; /* Esto permite que la altura se ajuste automáticamente según el ancho */
                    border-radius: 50%;
                }

                /* esto es para la barra que me estrese y la quite y solo le deje la funcion de subir y bajar :v */
                body {
                    overflow-y: scroll;
                    scrollbar-width: none;
                }

                body::-webkit-scrollbar {
                    width: 0.5em;
                }

                body::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }


                /* seccion de Valoresss*/

                body {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #f2f2f2;
                }

                .values-section {
                    text-align: center;
                    padding: 40px;
                    animation: fadeIn 1s ease;
                    display: flex; /* Cambia el diseño de la sección a flexbox */
                    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
                    justify-content: center; /* Centra horizontalmente los elementos */
                }

                .value {
                    width: 300px; /* Ancho fijo para cada valor */
                    margin: 10px;
                    text-align: center;
                }

                .value img {
                    max-width: 100px; /* Ancho máximo de las imágenes */
                    height: auto;
                }

                .value p {
                    margin-top: 10px;
                    word-wrap: break-word;
                    text-align: center;
                }

                .value h6 {
                    margin: 0;
                }






