.navbar {
    background-color: white !important;
}

 /* Estilos iniciales para el navbar */
 #customNavbar {
    border-radius: 0; /* Esquinas cuadradas inicialmente */
    box-shadow: none; /* Sin sombra inicialmente */
    transition: all 0.3s ease; /* Transición suave para los cambios */
}

/* Estilos para el navbar con esquinas redondas y sombra cuando se desplaza hacia abajo */
#customNavbar.navbar-scrolled {
    border-radius: 10px; /* Ajusta el radio según tus preferencias */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ajusta la sombra según tus preferencias */
}

.card-link {
    color: black;
    text-decoration: none;
}

.card-link:link {
    color: black;
}

.card-link:visited {
    color: black;
}

.card-link:hover {
    color: rgb(99, 99, 99);
}


.card-link:active {
    color: blue;
}

.vertical-center {
    min-height: calc(100vh - 80px - 121px);

    display: flex;
    align-items: center;
}

.color-aqua{
    background-color: #41c1ba;
    border-color: #41c1ba;
}

.color-aqua:hover{
    background-color: #6bc72a;
    border-color: #6bc72a;
}

.color-aqua:active{
    background-color: #518829 !important;
    border-color: #518829 !important;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.page-container{
    min-height: calc(100vh - 80px);
}





        


                /* team */
                body {
                    font-family: Arial, sans-serif;
                }

                .equipo {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }

                .miembro {
                    text-align: center;
                    margin: 20px;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: 200px;
                }

                .miembro img {
                    max-width: 100%;
                    width: 100px; /* Establece el ancho deseado */
                    height: auto; /* Esto permite que la altura se ajuste automáticamente según el ancho */
                    border-radius: 50%;
                }

                /* esto es para la barra que me estrese y la quite y solo le deje la funcion de subir y bajar :v */
                body {
                    overflow-y: scroll;
                    scrollbar-width: none;
                }

                body::-webkit-scrollbar {
                    width: 0.5em;
                }

                body::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }


                /* seccion de Valoresss*/

                body {
                    font-family: Arial, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #f2f2f2;
                }

                .values-section {
                    text-align: center;
                    padding: 40px;
                    animation: fadeIn 1s ease;
                    display: flex; /* Cambia el diseño de la sección a flexbox */
                    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples filas */
                    justify-content: center; /* Centra horizontalmente los elementos */
                }

                .value {
                    width: 300px; /* Ancho fijo para cada valor */
                    margin: 20px;
                    text-align: center;
                }

                .value img {
                    max-width: 100px; /* Ancho máximo de las imágenes */
                    height: auto;
                }



                .value p {
                    margin-top: 10px;
                    word-wrap: break-word;
                    text-align: center;
                }

                .value h6 {
                    margin: 0;
                }

                /* seccion de patrocinadores


        /* Estilos  para los logos de los patrocinadores */
        .patrocinadores {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6bc72a;
            flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea en pantallas pequeñas */
            padding: 10px; /* Añade un poco de espacio entre los logos en dispositivos móviles */
        }

        .logo {
            margin: 10px; /* Espacio entre los logos en pantallas grandes */
            transition: transform 0.3s;
            text-align: center;
            flex: 1; /* Permite que los logos se ajusten al ancho disponible */
        }

        /* Efecto de pasar el mouse sobre los logos */
        .logo:hover {
            transform: translateY(-10px);
        }

        .logo img {
            max-width: 100%; /* Hace que las imágenes se ajusten al ancho del contenedor padre */
            width: 200px; /* Ajusta el tamaño de los logos según tus necesidades */
        }



        /* Ubicaciones*/
       .container { text-align: center;
        padding: 20px;
    }
    h1 {
        font-size: 24px;
        margin-top: 20px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        background-color: #6cc729;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    iframe {
        width: 100%;
        max-width: 600px;
        height: 450px;
        border: 0;
    }

/* Este es para que el nav este estatico */

.navbar-sticky {
    position: -webkit-sticky; /* Para navegadores webkit como Chrome y Safari */
    position: sticky; /* Para la mayoría de los navegadores modernos */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra constante */
    border-radius: 0; /* Hace que los bordes sean cuadrados */
}




.btn-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* imagenes de los miembros ojo solo la de marden esta con styles en linea */

.miembro {
    text-align: center;
}

.miembro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

